.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
    .valid-feedback
  ):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
.navbar-pro {
  float: end;
  margin-left: 976px;
}
.input__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
